{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Hospital department prediction</h1>
    <!--<p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Prediction results based on the user ID.
        </p>
        <form class="form-search" action="" method="get">
          <input id="userid" class="form-control" name="userid" type="text" placeholder="input your userid" style="float:left"/><button class="btn btn-primary">search</button>
        </form>

        <div id="suggestion"></div>
        <p><a id="getpredictiondata" class="btn btn-default" href="getpredictiondata">Get Json Data &raquo;</a></p>
    </div>
    <!--
        <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
    -->
</div>

{% endblock %}
{% block scripts %}
<script>
var userid = document.getElementById('userid').value
var getpredictiondata = document.getElementById('getpredictiondata')
getpredictiondata.href = "getpredictiondata?userid="+'{{userid}}'
$(document).ready(function(){
             $.ajaxSettings.async = false;
             $.getJSON('getpredictiondata?userid='+'{{userid}}', function(data) {
                 var $parent = $("#suggestion");
                 var $name = $("<p style='font-size:25px;font-weight:bold'><span class='label label-info'>user name</span>&nbsp;&nbsp;"+data.name+"</p>")    
                 var $userid = $("<p style='font-size:25px;font-weight:bold'><span class='label label-info'>user id</span>&nbsp;&nbsp;"+data.userid+"</p>")
                 var $department = $("<p style='font-size:25px;font-weight:bold'><span class='label label-info'>department</span>&nbsp;&nbsp;"+data.department+"</p>");
                 $parent.append($department).append($userid).append($name);
             })

       });
</script>
{% endblock %}