{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Hospital department prediction</h1>
    <!--<p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <!--<h2>Prediction Web Service</h2>-->
        <p>
            Prediction results based on the user ID.
        </p>
        <form class="form-search" action="" method="get" onsubmit="return checkForm()">
          <input id="userid" class="form-control" name="userid" type="text" placeholder="input your userid (a number)" style="float:left"/><button class="btn btn-primary">search</button>
        </form>
        <div id="suggestion"></div>
        <p><a id="getpredictiondata" class="btn btn-default" href="getpredictiondata">Get Json Data &raquo;</a></p>
    </div>
    <!--
        <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
    -->
</div>

{% endblock %}
{% block scripts %}
<script>
    function checkForm(){
        var userid=document.getElementById("userid");
        if(!(userid==null||userid.value=="")){
            var pattern="^[0-9]+$";
            var check=new RegExp(pattern);
            if(check.test(userid.value)){
                return true;
            }else{alert('please input a number');return false;}
        }else
        {   alert('please input a number');
            return false;}
    }


    var userid = document.getElementById('userid').value
var getpredictiondata = document.getElementById('getpredictiondata')
getpredictiondata.href = "getpredictiondata?userid="+'{{userid}}'
$(document).ready(function(){
             $.ajaxSettings.async = false;
             $.getJSON('getpredictiondata?userid='+'{{userid}}', function(data) {
                 var $parent = $("#suggestion");
                 if(data.username) {
                     var $department = $("<p style='font-size:25px'><span class='label label-info'>department:</span>&nbsp;&nbsp;<div style='margin-left:150px;margin-top:-43px;font-size:25px;font-weight:bold'>" + data.dep.join('<br>') + "</div></p>");
                     var $userid = $("<p style='font-size:25px;font-weight:bold'><span class='label label-info'>user id:</span>&nbsp;&nbsp;" + data.userid + "</p>")
                     var $name = $("<p style='font-size:25px;font-weight:bold'><span class='label label-info'>user name:</span>&nbsp;&nbsp;" + data.username + "</p>")
                     $parent.append($userid).append($name).append($department);
                 }else{
                     var $userid = $("<p style='font-size:25px;font-weight:bold'><span class='label label-info'>user id:</span>&nbsp;&nbsp;" + data.userid + "</p>")
                     var $info = $("<p style='font-size:25px;font-weight:bold'><span class='label label-info'>info:</span>&nbsp;&nbsp;Sorry,no information</p>")
                     $parent.append($userid).append($info);
                 }
             })

       });
</script>
{% endblock %}